<%= javascript_include_tag 'cart' %>
<div class="product">
  <div class="container">
    <div class="col-md-9 ctnt-bar">
      <div class="content-bar">
        <div class="single-page">
          <ul class="product-head">
            <li><a href="<%= root_path %>">Домашняя</a> <span>::</span></li>
            <li><a href="<%= appliances_path %>">Техника</a> <span>::</span></li>
            <li class="active-page">single</li>
            <div class="clear"> </div>
          </ul>

          <script>
            jQuery(document).ready(function($){
              $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 600,
                source_image_height: 1000,
                show_hint: true,
//                click_callback: function(image_anchor, instance_id){
//                  alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
//                }
              });
              // This is for the dropdown list example:
              $('.dropdownlist').change(function(){
                etalage_show( $(this).find('option:selected').attr('class') );
              });

            });
          </script>
          <!--//details-product-slider-->
          <%= hidden_field_tag :product_id, @appliance.id, id: 'product_id_input' %>
          <div class="details-left-slider">
            <ul id="etalage">
              <% @appliance.appliance_pictures.each do |img| %>
                  <li>
                    <img class="etalage_thumb_image" src="<%= img.file.for_zoom.url %>" />
                    <img class="etalage_source_image" src="<%= img.file.url %>" />
                  </li>
              <% end %>
              <div class="clearfix"></div>
            </ul>
          </div>
          <div class="details-left-info">
            <h3><%= @appliance.title %></h3>
            <p class="availability">Доступность: <span class="color"><%= @appliance.availability %></span></p>
            <div class="price_single">
              <% if @appliance.discount > 0 %>
                  <span class="reducedfrom"><%= @appliance.price %> р.</span>
                  <span class="actual"><%= (@appliance.price*(1 - @appliance.discount.to_f/100)).round(2) %> р.</span>
              <% else %>
                  <span class="actual"><%= @appliance.price %></span>
              <% end %>
            </div>
            <h2 class="quick">Описание:</h2>
            <p class="quick_desc"> <%= @appliance.description %></p>
            <ul id="available-colors" class="product-colors">
              <h3>Доступные цвета:</h3>
              <% @appliance.appliance_colors.each_with_index do |color, i| %>
                  <%i+=1%>
                  <li class="<%= i == 1 ? 'selected_color' : 'color_li_border'%>" data-color_id="<%= color.id %>" style="background-color: <%= color.rgb %>;"><a href="#"><span> </span></a></li>
              <% end %>
              <div class="clear"> </div>
            </ul>
            <ul class="size">
              <h3>Length</h3>
              <li><a href="#">Высота: <% @appliance.height %></a></li>
              <li><a href="#">Ширина: <% @appliance.widths %></a></li>
              <li><a href="#">Глубина: <% @appliance.depth %></a></li>
            </ul>
            <div class="quantity_box">
              <div class="row">
                <ul class="product-qty">
                  <div class="col-md-12">
                    <div class="col-md-6" style="padding: 0;">
                      <span>Количество:</span>
                    </div>
                    <div class="col-md-6">
                      <select id="selectbox-quantity" style="margin: -3px 0px 15px 17px;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                      </select>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="single-but">
              <input data-product_type="appliance" type="submit" value="в корзину" id="add_to_cart_button"/>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="products-row contact-prod">
          <h3>Latest Productss</h3>
          <a href="single.html"><div class="product-grid">
            <div class="more-product-info">
              <span> </span>
            </div>
            <div class="product-img">
              <img src="../assets/f11.jpg" alt="">
            </div>
            <div class="product-info">
              <div class="product-info-cust">
                <a href="single.html">Details</a>
              </div>
              <div class="product-info-price">
                <a href="single.html">&#8356;380</a>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div></a>
          <a href="single.html"><div class="product-grid">
            <div class="more-product-info">
              <span> </span>
            </div>
            <div class="product-img">
              <img src="../assets/f2.jpg" alt="">
            </div>
            <div class="product-info">
              <div class="product-info-cust">
                <a href="single.html">Details</a>
              </div>
              <div class="product-info-price">
                <a href="single.html">&#8356;380</a>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div></a>
          <a href="single.html"><div class="product-grid product-gridy">
            <div class="more-product-info">
              <span> </span>
            </div>
            <div class="product-img">
              <img src="../assets/f3.jpg" alt="">
            </div>
            <div class="product-info">
              <div class="product-info-cust">
                <a href="single.html">Details</a>
              </div>
              <div class="product-info-price">
                <a href="single.html">&#8356;380</a>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div></a>
          <a href="single.html"><div class="product-grid">
            <div class="more-product-info">
              <span> </span>
            </div>
            <div class="product-img">
              <img src="../assets/f4.jpg" alt="">
            </div>
            <div class="product-info">
              <div class="product-info-cust">
                <a href="single.html">Details</a>
              </div>
              <div class="product-info-price">
                <a href="single.html">&#8356;380</a>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div></a>
          <a href="single.html"><div class="product-grid">
            <div class="more-product-info">
              <span> </span>
            </div>
            <div class="product-img">
              <img src="../assets/f5.jpg" alt="">
            </div>
            <div class="product-info">
              <div class="product-info-cust">
                <a href="single.html">Details</a>
              </div>
              <div class="product-info-price">
                <a href="single.html">&#8356;380</a>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div></a>
          <a href="single.html"><div class="product-grid product-gridy">
            <div class="more-product-info">
              <span> </span>
            </div>
            <div class="product-img">
              <img src="../assets/f6.jpg" alt="">
            </div>
            <div class="product-info">
              <div class="product-info-cust">
                <a href="single.html">Details</a>
              </div>
              <div class="product-info-price">
                <a href="single.html">&#8356;380</a>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div></a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 sidebar_men">
      <h3>Категории</h3>
      <ul class="product-categories color">
        <% @categories.each do |category| %>
            <li class="cat-item cat-item-42"><a href="<%= appliances_path(type: 'category', name: category.name)%>"><%= category.name %></a> <span class="count">(<%= category.appliances.count %>)</span></li>
        <% end %>
      </ul>
      <h3>Цвета</h3>
      <ul class="product-categories color">
        <% @colors.each do |color| %>
            <li class="cat-item cat-item-42"><a href="<%= appliances_path(type: 'color', name: color.name)%>"><%= color.name %></a> <span class="count">(<%= color.appliances.count %>)</span></li>
        <% end %>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>