<div id="gallery" class="Gallery">
  <div class="container">
    <div class="section group">
    <% @single_images.each do |img| %>
          <div class="col-md-6 gallery-box">
            <div id="nivo-lightbox-demo"> <p> <a href="<%= img.file.home.url %>" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p></div>
            <img src="<%= img.file.home.url %>" alt="">
          </div>
    <% end %>

      <div class="clearfix"> </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
      });
    </script>
    <div class="lets-head">
      <h1>popularised in the 1960s with the release of Letraset sheets</h1>
      <a class="button curl-bottom-right" href="#">Let's go</a>
    </div>
  </div>
</div>
	<!--//End-Gallery-->
	<div id="service" class="services">
			<div class="container">
				<div class="service-grides">
			 			<div class="col-md-5 service-section1">
              <% @index_overviews.each_with_index do |ovr, index| %>
                  <% index += 1 %>
                  <div class="service-gride1">
                    <div class="col-md-3 service-img">
                      <i class="icon<%=index%>"> </i>
                    </div>
                    <div class="col-md-9 service-text ">
                      <h4><%= ovr.title %></h4>
                      <p><%= ovr.description %></p>
                      <a class="read-more" href="online.html">Read More</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
              <% end %>
			 			</div>
			 				<!--slide-->
			 			<div class="col-md-7 slide-section">
              <section id="slide-con">
                  <section id="slide-main">
                    <img src="<%= @carousel_images.first.file.carousel_bg.url if @carousel_images.present? %>" alt="">
                  </section>
                  <section id="slide-hidden">
                    <% @carousel_images.each do |img| %>
                        <img src="<%= img.file.carousel_bg.url %>" alt="">
                    <% end %>
                  </section>
                  <section id="thumbnails">
                    <div id="left-arrow" class="ui-button"><div class="icon icon-arrow-left"></div></div>
                    <div id="thumbcon">
                    </div>
                    <div id="right-arrow" class="ui-button"><div class="icon icon-arrow-right"></div></div>
                  </section>
                <section id="progressbar">
                </section>
              </section>

              <%= javascript_include_tag   'style/gallery' %>
			<!-- Banner-Slide -->
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
</div>
	<!--/End-services-->
		<div id="testimonial" class="Testimonials">
        <div class="container">
          <div class="clients-section">
            <h3>Our Clients</h3>
            <div class="clients-icons">
              <ul>
                <li><a href="#"><img src="assets/c1.png" alt=""/></a></li>
                <li><a href="#"><img src="assets/c2.png" alt=""/></a></li>
                <li><a href="#"><img src="assets/c3.png" alt=""/></a></li>
                <li><a href="#"><img src="assets/c1.png" alt=""/></a></li>
                <div class="clearfix"> </div>
              </ul>
            </div>

          </div>
        </div>
				<div class="test-monials">
				<!--sreen-gallery-cursual-->
						<div class="sreen-gallery-cursual">
							 <!-- requried-jsfiles-for owl -->
              <%= javascript_include_tag 'style/owl.carousel' %>
                  <script>
                    $(document).ready(function() {
                      $("#owl-demo").owlCarousel({
                        items : 1,
                        lazyLoad : true,
                        autoPlay : true,
                        navigation : false,
                        navigationText :  false,
                        pagination : true,
                      });
                    });
							    </script>
							 <!-- start content_slider -->
						       <div id="owl-demo" class="owl-carousel">
                     <% @client_overviews.each do |ovr| %>
                         <div class="item">
                           <div class="col-md-9 testmonial-text">
                             <p><%= ovr.review %></p>
                           </div>
                           <div class="col-md-3 testmonial-img">
                             <img src="<%= ovr.file.round.url %>" class="img-responsive" alt=""/>
                           </div>
                           <div class="clearfix"> </div>
                         </div>
                     <% end %>
                   </div>
						<!--//sreen-gallery-cursual-->
					</div>
				</div>

		</div>
<!-- news-grids -->
	<div class="new-section">
		<div class="container">
						<h2>VARIOUS PRODUCTS</h2>
					</div>
    <% if @main_products.present? && @main_products.keys.length==3 %>
			<div class="news-grids">
				<div class="news-grids-left">

            <div class="news-left-grid">
              <div class="news-left-grid-pic">
                <img src="<%= @main_products[1].main_image.various.url %>" title="<%= @main_products[1].title %>" />
              </div>
              <div class="news-left-grid-info">
                <h4><%= @main_products[1].title %></h4>
                <p><%= @main_products[1].description %></p>
                <div class="top-grids-text three">
                  <div class="top-grid-text">
                    <% if @main_products[1].discount > 0 %>
                      <h3><%= @main_products[1].price %> р.</h3>
                      <label> </label>
                      <p><%= @main_products[1].price*(1 - @main_products[1].discount.to_f/100) %> р.</p>
                    <% else %>
                      <p><%= @main_products[1].price %> р.</p>
                    <% end %>
                  </div>
                  <div class="top-btn">
                    <a class="button rotate" href="online.html">Add to Cart</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>


						<div class="news-left-grid grid1">
							<div class="news-left-grid-info grid1 news-left-grid-info-left">
								<h4><%= @main_products[2].title %></h4>
								<p><%= @main_products[2].description %></p>
								<div class="top-grids-text three">
                  <div class="top-grid-text">
                    <% if @main_products[2].discount > 0 %>
                        <h3><%= @main_products[2].price %> р.</h3>
                        <label class="line1"> </label>
                        <p><%= @main_products[2].price*(1 - @main_products[2].discount.to_f/100) %> р.</p>
                    <% else %>
                        <p><%= @main_products[2].price %> р.</p>
                    <% end %>
                  </div>

                  <div class="top-btn">
                    <a class="button rotate" href="online.html">Add to Cart</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
							</div>
							<div class="news-left-grid-pic news-left-grid-pic-right">
								<img src="<%= @main_products[2].main_image.various.url %>" title="<%= @main_products[2].title %>" />
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="news-grids-right">
						<div class="news-right-grid">
							<div class="news-right-grid-pic">
								<img src="<%= @main_products[3].main_image.various.url %>" title="<%= @main_products[3].title %>" />
							</div>
							<div class="news-right-grid-bottom">
								<h4><%= @main_products[3].title %></h4>
								<p><%= @main_products[3].description %></p>
								<div class="top-grids-text three">
                  <div class="top-grid-text">
                    <% if @main_products[3].discount > 0 %>
                        <h3><%= @main_products[3].price %> р.</h3>
                        <label class="line2"> </label>
                        <p><%= @main_products[3].price*(1 - @main_products[3].discount.to_f/100) %> р.</p>
                    <% else %>
                        <p><%= @main_products[3].price %> р.</p>
                    <% end %>
                  </div>
                  <div class="top-btn three">
                    <a class="button rotate" href="online.html">Add to Cart</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
					</div>
					<div class="clearfix"> </div>
						<div class="button-two">
							<a class="button curl-bottom-right1" href="#">More</a>
					 	</div>
				</div>
    <% end %>
				<!-- news-grids -->
			</div>
		</div>
	</div>

<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
