<div class="product">
  <div class="container">
    <div class="col-md-3 sidebar_men">
      <h3>Категории</h3>
      <ul class="product-categories color">
        <% @categories.each do |category| %>
            <li class="cat-item cat-item-42"><a href="#"><%= category.name %></a> <span class="count">(<%= category.furnitures.count %>)</span></li>
        <% end %>
      </ul>
      <h3>Цвета</h3>
      <ul class="product-categories color">
        <% @colors.each do |color| %>
            <li class="cat-item cat-item-42"><a href="#"><%= color.name %></a> <span class="count">(<%= color.furnitures.count %>)</span></li>
        <% end %>
      </ul>
      <h3>Sizes</h3>
      <ul class="product-categories color">
        <li class="cat-item cat-item-42"><a href="#">L</a> <span class="count">(14)</span></li>
        <li class="cat-item cat-item-60"><a href="#">M</a> <span class="count">(2)</span></li>
        <li class="cat-item cat-item-63"><a href="#">S</a> <span class="count">(2)</span></li>
        <li class="cat-item cat-item-54"><a href="#">XL</a> <span class="count">(8)</span></li>
        <li class="cat-item cat-item-55"><a href="#">XS</a> <span class="count">(11)</span></li>
      </ul>
      <h3>Price</h3>
      <ul class="product-categories">
        <li class="cat-item cat-item-42"><a href="#">200$-300$</a> <span class="count">(14)</span></li>
        <li class="cat-item cat-item-60"><a href="#">300$-400$</a> <span class="count">(2)</span></li>
        <li class="cat-item cat-item-63"><a href="#">400$-500$</a> <span class="count">(2)</span></li>
        <li class="cat-item cat-item-54"><a href="#">500$-600$</a> <span class="count">(8)</span></li>
        <li class="cat-item cat-item-55"><a href="#">600$-700$</a> <span class="count">(11)</span></li>
      </ul>
    </div>
    <div class="col-md-9 ctnt-bar">
      <div class="content-bar">
        <ul class="product-head">
          <li><a href="<%= root_path %>">Home</a> <span>::</span></li>
          <li class="active-page">Мебель</li>
          <div class="clear"> </div>
        </ul>
        <div class="products-row">
          <h3>Today's Products</h3>
          <% @furnitures.each do |product| %>
              <a href="<%= furniture_path(product.id) %>">
                <div class="product-grid">
                  <div class="more-product-info">
                    <span> </span>
                  </div>
                  <div class="product-img">
                    <img src="<%= product.main_image.for_list.url %>" alt="">
                  </div>
                  <div class="product-info">
                    <div class="product-info-cust">
                      <a href="<%= furniture_path(product.id) %>">Details</a>
                    </div>
                    <div class="product-info-price">
                      <a href="<%= furniture_path(product.id) %>"><%= product.price %> P.</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </a>
          <% end %>
          <div class="clearfix"></div>
        </div>
        <div class="show-more">
          <a href="#">Show more</a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>